body { width:300px; margin:0 auto; text-align: center;}
h1 {height: 0; overflow:hidden; padding:188px 0 0 0; width:251px; }
#tablero {height: 280px; padding: 26px; width: 280px;}
#tablero table { width: 276px; }
#tablero td { width:30px; height: 30px; padding: 0; margin: 0; }